body {
	font-size: 18px;
	line-height: 1.6;
	color: #444;
	max-width: 650px;
	margin: 40px auto;
	padding: 0 40px;
}

h1,
h2,
h3 {
	line-height: 1.2;
}

nav ul {
	display: flex;
	gap: 10px;
	justify-content: flex-end;
	padding: 0;
	list-style: none;
}

table {
	border-collapse: collapse;
}

th {
	padding-right: 40px;
	text-align: left;
	font-weight: bold;
}

td {
	padding: 4px 0;
}
