/*
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
*/

body {
	color: #444;
	font-size: 18px;
	line-height: 1.6;
	margin: 40px auto;
	max-width: 650px;
	padding: 0 10px;
}

h1,
h2,
h3 {
	line-height: 1.2;
}

nav ul {
	list-style: none;
	padding: 0;
	text-align: right;
}

/*
nav ul {
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding: 0;
}
*/
